/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH				Imports
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700);


/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH				Global
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/


@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

body{

    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
        margin: 0;
    padding: 0;
}




.img-thumbnail{
   border-color: #00c6ff; /* fallback for old browsers */
    border-color: -webkit-linear-gradient(to right, #00c6ff, #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    border-color: linear-gradient(to right, #00c6ff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


/*----------------------------*\
	Logo
\*----------------------------*/

#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #15161D;
}

.header-logo {
  float: left;
}

.header-logo .logo img {
  display: block;
}


.img-responsive {
  position:absolute;
  height: auto;
  width: auto;

}

/*----------------------------*\
	Search
\*----------------------------*/




/*=========================================================
	03 -> Navigation
===========================================================*/

#navigation {
  background: #FFF;
  border-bottom: 2px solid #E4E7ED;
  border-top: 3px solid #D10024;
}

/*----------------------------*\
	Main nav
\*----------------------------*/

.main-nav>li+li {
  margin-left: 30px
}

.main-nav>li>a {
  padding: 20px 0px;
}

.main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
  color: #D10024;
  background-color: transparent;
}

.main-nav>li>a:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #D10024;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.main-nav>li>a:hover:after, .main-nav>li>a:focus:after, .main-nav>li.active>a:after {
  width: 100%;
}

.header-ctn li.nav-toggle {
  display: none;
}

/*----------------------------*\
	responsive nav
\*----------------------------*/

@media only screen and (max-width: 991px) {
  .header-ctn .menu-toggle {
    display: inline-block;
  }
  #responsive-nav {
    position: fixed;
    left: 0;
    top: 0;
    background: #15161D;
    height: 100vh;
    max-width: 250px;
    width: 0%;
    overflow: hidden;
    z-index: 22;
    padding-top: 60px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  #responsive-nav.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    width: 100%;
  }
  .main-nav {
    margin: 0px;
    float: none;
  }
  .main-nav>li {
    display: block;
    float: none;
  }
  .main-nav>li+li {
    margin-left: 0px;
  }
  .main-nav>li>a {
    padding: 15px;
    color: #FFF;
  }
}












.mag{
  bottom:500px;
  
  
}

.header-text h3{
  font-size: 3rem;
}



.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color:  	#0066FF;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}

.navbar-default.scrolled{
  background-color: #045de9;
background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}



.top{
    display: none;
    background: rgb(81, 255, 182);
    color: #fff;
    padding: 5px 10px;
    font-size: 22px;
    position: fixed;
    bottom: 45px;
    right: 35px;
}
.show-top{
    display: block;
    z-index: 99;
    transition: 2s;
}
.top:hover{
    background: rgb(87, 160, 255);
}
h1{
	font-weight: 100;
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 10px;
}
 h2{
	font-weight: 100;
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
}
ul{
    list-style: none;
}
#trigger-overlay:hover, a:focus, a:hover {
	color: inherit;
	text-decoration: none;
    transition: .8s;
}
p{
	font-size: 16px;
}
.wrapper{
	padding: 75px 0px;
}

.virticle-line{
    height: 40px;
    width: 1px;
    background: #888;
    margin: 15px auto 5px;
}
.circle{
    height: 15px;
    width: 15px;
    border: 1px solid #888;
    border-radius: 100%;
    margin: 0px auto 50px;
}
/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH 		Overlay style
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    z-index: 9999;
	background: linear-gradient(50deg, rgb(81, 255, 182), rgb(87, 160, 255));
}
.overlay .overlay-close {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 110px;
    top: 85px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}
.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}
.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #e3fcb1;
}
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}
.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}


.jumbotron {
    background-position: center;
    background-size: cover;
   
  height:55vh;  
  }



/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH              Video
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
#video{
    text-align: center;
    color: #333;
}
#video h2{
    color: #333;
}
#video p{
    margin-top: 40px;
}
.video{
    margin: 0 auto;
}
/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH              Bigfeature
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
#bigfeatures li i{
    color: #999;
    font-size: 24px;
    text-align: center;
    height: 50px;
    width: 50px;
    border: 1px solid #999;
    border-radius: 100%;
    padding-top: 12px;
}
.item-list-right li {
    padding:0 70px 20px 0;
    position:relative;
    text-align:right;
}
.item-list-right li i {
    font-size:32px;
    position:absolute;
    right:0;
    top:0;
}
.item-list-left li {
    padding:0 0px 20px 60px;
    position:relative;
    text-align:left;
}
.item-list-left li i {
    font-size:32px;
    position:absolute;
    left:0;
    top:0;
}
.item-list-right h3,.item-list-left h3 {
    margin:0 0 25px 0;
    font-weight:300;
}
.item-list-left.item-list-big li {
    padding:0 0px 20px 70px;
}
.item-list-big li i {
    font-size:48px;
}
.item-list-right li:last-child,.item-list-left li:last-child {
    padding-bottom:0;
}
#bigfeatures .screen {
    width: 400px;
    max-width:110%;
    height:auto;
}
#bigfeatures i {
    color:#41A1E1;
}
@media (max-width:1200px) and (min-width:767px) {
    #bigfeatures i {
        display:none;
    }
    .item-list-right.item-list-big li,.item-list-left.item-list-big li {
        padding:0 0px 40px 0px;
    }
}
@media (max-width:992px) and (min-width:767px) {
    .item-list-right.item-list-big li,.item-list-left.item-list-big li {
        font-size:14px;
    }
    .item-list-right h3,.item-list-left h3 {
        font-size:22px;
    }
    .item-list-right li:last-child,.item-list-left li:last-child {
        padding-bottom:0;
    }
}
@media all and (max-width:767px) {
    .item-list-right li i {
        right:auto;
        left:0;
    }
    .item-list-left li:last-child {
        margin-bottom:60px;
    }
}
.animation-box {
    display:inline-block;
    position:relative;
}
@-webkit-keyframes highlight-left {
    0% {
        opacity:0;
        top:100%;
        -webkit-transform:scale(0);
    }
    70% {
        opacity:1;
        -webkit-transform:scale(1);
    }
    100% {
        opacity:0;
        top:0;
        -webkit-transform:scale(0);
    }
}
@keyframes highlight-left {
    0% {
        opacity:0;
        top:100%;
        transform:scale(0);
    }
    70% {
        opacity:1;
        transform:scale(1);
    }
    100% {
        opacity:0;
        top:0;
        transform:scale(0);
    }
}
.highlight-left {
    position:absolute;
    animation:highlight-left 2s ease-in 0s infinite;
    -webkit-animation:highlight-left 2s ease-in 0s infinite;
    left:-5px;
    margin-top:-100px;
}
@-webkit-keyframes highlight-right {
    0% {
        opacity:0;
        top:0;
        -webkit-transform:scale(0)
    }
    70% {
        opacity:1;
        -webkit-transform:scale(1)
    }
    100% {
        opacity:0;
        top:100%;
        -webkit-transform:scale(0)
    }
}
@keyframes highlight-right {
    0% {
        opacity:0;
        top:0;
        transform:scale(0)
    }
    70% {
        opacity:1;
        transform:scale(1)
    }
    100% {
        opacity:0;
        top:100%;
        transform:scale(0)
    }
}
.highlight-right {
    position:absolute;
    animation:highlight-right 2s ease-in 0s infinite;
    -webkit-animation:highlight-right 2s ease-in 0s infinite;
    right:-5px;
    margin-top: -100px;
}

/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH              Speciality
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
#speciality{
    background: #eee;
    text-align: center;
    color: #333;
}
#speciality h2{
    color: #333;
}
#speciality h3{
    text-transform: uppercase;
}
.special-icon{
    color: #888;
    border: 1px solid #888;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    display: inline-block;
    margin: 15px 0px;
}
#speciality .container .row .col-sm-4:nth-child(2){
    border-right: 1px solid #888;
    border-left: 1px solid #888;

}
/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH              Features
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
.features-list{
    margin: 20px 10px;
}
.features-list-left{
    text-align: right;
    margin: 20px 10px;
}
.features-list ul.right li{
    padding: 10px 0px;
}
.features-list-left ul.left li{
    padding: 10px 0px;
    text-align: right;
}
.features-list ul.right{
    padding: 40px;
    margin-left: -40px;
}
.features-list-left ul.left{
    padding: 40px;
    margin-right: -40px;
}
.left-img{
    margin-right: -15px;
}
.right-img{
    margin-left: -15px;
}
/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH              Screenshots
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
#gallery{
    background: #e7e7e7;
}
#gallery h2{
    display: none;
}
#gallery {
    position: relative;
}
#gallery .virticle-line, #gallery .circle{
    display: none;
}
#screenshots .item {
    padding:0px 0px;
    margin:10px;
    color:#FFF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-align:center;
    display:block;
}
.img_res{
    max-width: 200px;
}
.customNavigation {
    text-align:center;
}

.customNavigation a {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.gallery-nav {
    width: 42px;
    height: 42px;
    background: #fff;
    font-size: 28px;
    line-height: 0;
    border: 2px solid;
    border-radius: 100%;
    color: rgb(87, 160, 255);
    padding: 6px 9px;
}
.gallery-nav:hover,.gallery-nav:focus,.gallery-nav:active {
    color:#fff;
    background: rgb(87, 160, 255);
    border-color: rgb(87, 160, 255);
}
.customNavigation{
    top: 40%;
    position: absolute;
    display: block;
    width: 100%;
}
a.prev{
	float: left;
    margin-left: 10px;
    padding-left: 6px;
}
a.next{
	float: right;
    margin-right: 10px;
    padding-left: 12px;
}





/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH              Footer Section
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/

#footer {
    /*background: linear-gradient(180deg, rgb(0, 190, 111), rgb(87, 160, 255));*/
    background-color: #39c;
    color:white;
    padding:40px 0;
}
#footer .credits a {
    color:#fff;
    text-decoration:underline;
}
.credits{
   	padding-bottom: 5px;
}
ul.social-icons{
  padding: 0;
}
ul.social-icons li {
    display:inline-block;
    margin:5px;
    font-size:35px;
}
.copyright {
    margin-top:40px;
    border-top:1px solid rgba(255,255,255,0.31);
    padding-top:40px;
}
ul.social-icons i {
    color:white;
    border-radius:100%;
    display:block;
    width: 50px;
    height: 50px;
    padding: 9px;
}
ul.social-icons li a {
    display:block;
}
.footer-logo h1 {
    color: white;
}
.social-icons ul li a i{
	color: white;
	border-color: white;
}
.facebook a:hover i {
    color:#fff;
    background-color:#3B5998;
}
.twitter a:hover i {
    color:#fff;
    background-color: #2A80BA;
}
.linkedin a:hover i {
    color:#fff;
    background-color:#007bb6;
}
.googleplus a:hover i {
    color:#fff;
    background-color:#dd4b39;
}
.github a:hover i {
    color:#fff;
    background-color: #444;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border-radius: 0;
    opacity: 0.75;
}

/*FOOTER*/


footer {
 
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c6ff, #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    color: white;
   
    
  }
  
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  .footer-pad h5{
      color:black;
  }
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  
  
  @media only screen and (max-width: 600px) {
    .jumbotron {
      background:url("images/1.jpg");
  
    }
  }
  
  
  
  
  
  
  p {
    margin: 0 0 10px;
  }
  
  .demo {
  max-width: 80em;
  margin: 0 auto;
  }
  
  .wrapper {
  max-width: 80em;
  margin: 0 auto;
  }
  
  .filipcontainer {
  padding: 0 15px;
  margin: 0 auto;
  }
  
  @media (min-width: 992px) {
  .filipcontainer {
    width: 970px;
  }
  }
  
  @media (min-width: 1200px) {
  .filipcontainer {
    width: 1170px;
  }
  }
  
  
  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  a {
    text-decoration: none;
    color: #f36b21;
    outline: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
  }
  
  .banner h1, .banner h3, .banner h6 {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
  }
  
  .banner {
  color: white;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/banner-flowers.jpg')
    top
    left/cover
    no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  
  
  
  
  
  
  
  .section-wrap--md {
    padding: 170px 0;
  }
  .section-wrap {
    padding: 120px 0;
    overflow: hidden;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .bg-light {
    background-color: #f7f9fa;
  }
  
  
  
  .call-to-action__title {
    font-size: 30px;
  }
  
  .call-to-action__dot {
    color: #f36b21;
  }
  
  .mt-40 {
    margin-top: 40px;
  }
  
  .btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    overflow: hidden;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.14em;
    border-radius: 3px;
    border: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #fff;
    background-color: #121212;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .btn-lg, .btn-lg.btn-button {
    font-size: 13px;
    padding: 0 34px;
    line-height: 46px;
  }
  
  .btn-color {
    background-color: #e63247;
  }
  
  .btn-icon span {
    position: relative;
    display: inline-block;
    left: 0;
    -webkit-transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    -ms-transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
  }
  
  .btn-icon > i {
    position: absolute;
    left: auto;
    font-size: 18px;
    width: 36px;
    line-height: 46px;
    background-color: rgba(0, 0, 0, 0.05);
    right: -36px;
    top: 0;
    text-align: center;
    display: block;
    border-radius: 0 3px 3px 0;
    -webkit-transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    -ms-transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
    transition: left 0.2s ease-in-out, right 0.2s ease-in-out;
  }
  
  .btn:hover {
    color: #fff;
    opacity: .9;
    border-color: transparent;
  }
  
  .btn-icon:hover span {
    left: -16px;
  }
  
  .btn-icon:hover i {
    right: 0;
  }
  

/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH 				Media Quiry
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/


@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
@media (max-width: 966px){
    .header{
        height: 100%;
    }
    .header img{
        display: none;
    }
    .img-hover{
        left: 0;
        right: 0;
    }
    #gallery h2{
        display: block;
        color: black;
        text-align: center;
    }
    #gallery .virticle-line, #gallery .circle{
        display: block;
    }
    #team .icon-p{
        left: 231px;
    }
    /*#speciality .container .row .col-sm-4:nth-child(2){
        border-right: 2px solid #888;
    }*/
    #contact i{
        color: #9d9d9d;
        border-color: #9d9d9d;
    }
    #contact .col-sm-6:hover i{
        background-color: #39c;
        color: #fff;
        border-color: #fff;
    }
    h3{
        font-weight: 500 !important;
    }
    #bigfeatures li i{
        display: none;
    }
    .form .message{
        width: 96%;
    }
}
@media (max-width: 480px){
    h2{
        font-size: 35px;
    }
    .wrapper{
        padding: 35px 0px;
    }
    .header{
		text-align: center;
        padding: 10px 0px;
	}
    .banner-text {
        margin-top: 50px;
    }
    .btn.btn-download{
        margin-right: 5px;
        width: 133px;
        margin-bottom: 30px;
    }
    .btn.btn-download i {
        font-size: 36px;
        margin-right: 16px;
        margin-left: 0px;
    }
	.overlay .overlay-close {
		right: 45px;
	  	top: 30px;
	}
    .nav-button button{
        font-size: 36px;
        margin-top: -20px;
    }
	#logo{
		font-size: 56px;
		text-align: left;
	}
	.btn-download{
		margin: 5px 0px;
	}
    ul.pricing-table>li {
        margin: 10px -20px;
        width: 100%;
    }
    #speciality .container .row .col-sm-4:nth-child(2){
        border: 0px;
    }
    .item-list-right.item-list-big li, .item-list-left.item-list-big li{
        padding: 0 0 60px 0;
        margin: 0px;
        text-align: left;
    }
    li.li i {
        display: none;
    }
    #features img{
        display: none;
    }
    .features-list, .features-list-left {
        padding: 10px;
    }
    .features-list ul.right li {
        padding: 10px 5px;
    }
    .features-list-left{
        text-align: left;
    }
    .features-list-left ul.left li {
          padding-bottom: 10px;
          margin-left: -30px;
          text-align: left;
    }
    .features-list ul.right{
        padding: 0px;
        margin: 0px;
    }
    .features-list-left ul.left{
        padding: 0px;
        margin-left: 40px;
    }
    .owl-theme .owl-controls .owl-page span{
        height: 70px;
        width: 70px;
    }
    .owl-theme .owl-controls .owl-page:nth-child(1){
        background-size: 70px 70px;
    }
    .owl-theme .owl-controls .owl-page:nth-child(2){
        background-size: 70px 70px;
    }
    .owl-theme .owl-controls .owl-page:nth-child(3){
        background-size: 70px 70px;
    }
    ul.social-icons li{
        margin: 0px;
    }
    .form .message{
        width: 91%;
    }
}
@media (max-width: 320px){
    .overlay nav ul{
        margin-left: -20px;
    }
    .overlay .overlay-close {
        right: 50px;
    }

}
.footer-pad h4
 {
         color: #2B2D42;
    font-size: 18px;
    font-weight: bold;
}
.footer-pad ul
{
    padding:0px;
}
.footer-pad ul li a
{
    padding:0px;
}